{% extends './base.html' %}
{% load tz %}
{% block content %}

<p>Welcome, <i/>{{client.user.first_name}} {{client.user.last_name}}</i>!</p>


<div>

<a class="my-btn" href=" {% url 'orders_unapproved'%}" accesskey="c">Cart</a>
<a class="my-btn" href=" {%url 'orders_approved'%} " accesskey="h">History</a>
<a class="my-btn" href=" {%url 'service_index' ''%} " accesskey="s">SERVICES</a>


</div>


<h2>Your personal info:</h2> 

<table>
<tr>
	<th>
		<strong>First name</strong>
	</th>
	<th>

		{{client.user.first_name}}
	</th>
</tr>


<tr>
	<th>
	<strong>Last name:</strong>
	</th>
	<th>{{client.user.last_name}} 
	</th>
</tr>



<tr>
	<th> <strong>Phone number: </strong></th>
	<th>{{client.phone_number}}</th>
</tr>

<tr>
	<th><strong>Address: </strong></th>
	<th>{{client.address}}</th>
</tr>
</table>


<h2>Time info:</h2>

<p> <strong>Today:</strong>

 <time datetime="{% now "Y-m-d"%}"> {% now "d/m/Y"%} </time>  
   </p>
<p> <strong>Timezone:</strong> {{timezone}}   </p>

<p> <strong>Time (UTC):</strong> {{dt_utc}}   </p>

{% localtime on %}
<p> <strong>Time (Local):</strong> <time datetime="{% now "H:i:s"%}"> {% now "H:i:s"%} </time>    </p>
{% endlocaltime %}

<p> <strong>Calendar:</strong> </p>
<pre>
{{calendar}}
</pre>

<!-- <p> <strong>Cat fact:</strong> {{cat_fact}}</p> -->

{% endblock %}


