{% extends './base.html' %}

{% block styles %}

<link rel="stylesheet" href="/static/contacts_table.css">
<script src="/static/js/contacts.js"></script>
<script src="/static/js/contacts_dialog.js"></script>
<script src="/static/preloader.css"></script>

{% endblock styles %}

{% block content %}

<p>{{ validity }}</p>


<div id="preloader-overlay">
    <div class="preloader-container">

    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle0"></div>

    </div>
</div>

<div class="filter-input-container">
    <p>Filter:</p>
    <input type="text" id="filter-input">
    <button id="find-btn">Find</button>
</div>

<table id="contacts">
    <thead>
        <tr>
            <td>Select</td>
            <td>Image</td>
            <td data-prop="first_name">First Name</td>
            <td data-prop="last_name">Last Name</td>
            <td data-prop="email">Email</td>
            <td data-prop="phone_number">Phone</td>
            <td data-prop="url">URL</td>
            <td data-prop="specification">Specification</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<button id="new-btn" class="btn">New</button>
<button id="reward-btn" class="btn">Reward</button>

<div id="pager-container">

</div>

<div id="card-container">

</div>

<div id="rewarded-list">
</div>

<dialog id="dialog">
    <h2>Add new employee</h2>
    <form method="post" enctype="multipart/form-data" id="new-employee-form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" disabled>
    </form>
    <div id="error-messages">

    </div>
</dialog>

<dialog id="fail-dialog">
    <p>Fail!</p>
</dialog>

<dialog id="success-dialog">
    <p>Success!</p>
</dialog>

{% endblock content %}
