{% extends './base.html' %}

{% block styles %}

<link rel="stylesheet" href="/static/contacts_table.css">
<script src="/static/js/contacts.js"></script>
<script src="/static/js/contacts_dialog.js"></script>

{% endblock styles %}

{% block content %}

<p>{{ validity }}</p>

<div class="filter-input-container">
    <p>Filter:</p>
    <input type="text" id="filter-input">
    <button id="find-btn">Find</button>
</div>

<table id="contacts">
    <thead>
        <tr>
            <td>Select</td>
            <td>Image</td>
            <td data-prop="first_name">First Name</td>
            <td data-prop="last_name">Last Name</td>
            <td data-prop="email">Email</td>
            <td data-prop="phone_number">Phone</td>
            <td data-prop="specification">Specification</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<button id="new-btn">New</button>

<dialog id="dialog">
    <h2>Add new employee</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</dialog>

{% endblock content %}
