
{% extends "./base.html" %}

{% block content %}

<h2>Completed orders</h2>



<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Created</th>
            <th>Scheduled</th>
            <th>Services</th>
            <th>Spare Parts</th>
            <th>Total Service Price</th>
            <th>Total Spare Parts Price</th>
            <th>Total Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.date_created }}</td>
            <td>{{ order.date_scheduled }}</td>
            <td>
                <ul>
                    {% for order_service in order.order_services.all %}
                        <li>{{ order_service.service.name }} (Price: {{ order_service.service.price }}$., Amount: {{ order_service.number }})</li>
                    {% empty %}
                        <li>No services in the order</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for order_sp in order.order_spare_parts.all %}
                        <li>{{ order_sp.spare_part.name }} (Price: {{ order_sp.spare_part.price }}$., Amount: {{ order_sp.number }})</li>
                    {% empty %}
                        <li>No spare parts in the order</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ order.total_service_price }}$</td>
            <td>{{ order.total_spare_parts_price }}$</td>
            <td>{{ order.total_price }}$</td>
            <td><a class="my-btn" href="{% url 'order_delete' order.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">No orders yet</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
