
{% extends "./base.html" %}

{% block content %}

<h1>Valid codes</h1>

    <!-- Iterate over object_list -->
    {% for object in object_list %} 

		{% if object.valid %}
		<p> <strong>Code:</strong>  {{object.code}} </p>
		<p> <strong>Discount:</strong>  -{{object.discount}}% </p>
    <hr/>
		{% endif %}


    {% empty %} 

    {% endfor %} 


<h1>Archive</h1>
    {% for object in object_list %} 

		{% if not object.valid %}
		<p> <strong>Code:</strong>  {{object.code}} </p>
		<p> <strong>Discount:</strong>  -{{object.discount}}% </p>
    <hr/>
		{% endif %}

    {% empty %} 

    {% endfor %} 



{% endblock content %}
