
{% extends "./base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/promocodes.css">
{% endblock styles %}

{% block content %}

<h2>Valid codes</h2>

    <!-- Iterate over object_list -->
		<ul class="promolist">

    {% for object in object_list %} 
		{% if object.valid %}
		<li><span class="code">{{object.code}}</span>  ( -{{object.discount}}%  )</li> 
		{% endif %}
    {% empty %} 
    {% endfor %} 

		</ul>

<h2>Archive</h2>

		<ul class="promolist">
    {% for object in object_list %} 

		{% if not object.valid %}
		<li><span class="code">{{object.code}}</span> ( -{{object.discount}}%  )</li> 
		{% endif %}

    {% empty %} 

    {% endfor %} 

		</ul>


{% endblock content %}
