{% extends "base.html" %}

{% block title %}FAQ{% endblock title %}

{% block header %}
	<abbr title="Frequently Asked Questions">FAQ</abbr>
{% endblock header %}


{% block styles %}

<link rel="stylesheet" href="/static/faq.css">
{% endblock styles %}

{% block content %}
<div class="faq-container">

    {% for faq in faq_list %}


				<details>
					<summary>Q: {{ faq.question }}</summary>
					<p>{{faq.answer}}</p>
				</details>

        <p class="faq-date">{{ faq.date }}</p>
        <hr/>
    {% empty %}
        <p>No FAQs available at the moment.</p>
    {% endfor %}

</div>
{% endblock content %}
