<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script>
      const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      document.cookie = "django_timezone=" + timezone;
    </script>
    <meta charset="utf-8" />
    <meta name="author" content="Artsiom Padhaiski" />
    <meta
      name="description"
      content="Service center, specialized on repair of computer and electronics devices, located in city X"
    />
    <link rel="icon" href="MEDIA/icon.jpg" type="image/jpg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>{% block title %}Service center{% endblock title %}</title>
  </head>
  <body>
    <header>
      <nav>
        {% block nav %}
          <div>
            <a href="/">Index</a> | <a href="/about">About</a> |
            <a href="/service/profile">Home</a>
          </div>

        {% endblock nav %}
      </nav>
      <h1>{% block header %}{% endblock header %}</h1>
      <img src="/MEDIA/icon.jpg" alt="Icon" title="Service center" />
    </header>

    <main>
      <div>{% block content%}{% endblock content %}</div>
    </main>

    <footer>
      <div>Artsiom Padhaiski. &copy; 2025. All rights reserved<a style="text-decoration:none" href="/bamboleo">.</a></div>
    </footer>
  </body>
</html>
