
<!DOCTYPE html>
<html>
    <head>
        <title> Service center </title>
    </head>

    <body>
	    <header>
		    <h1>Service center</h1>
	    </header>


	    <h1>Recent news</h1>

	    <a href="{%url 'news_detail' news.id%}">{{news.head}}</a>

	    </hr>

	    <h1>Index</h1>


	    <a href="{% url 'login'%}">Log In</a>
	    <br>

	    <a href="{% url 'signup'%}">Sign Up</a>
	    <br>
	    <br>

	    <a href="/news">News</a>
	    | 
	    <a href="/vacancies">Vacancies</a>
	    |
	    <a href="/faq">FAQ</a>
	    |
	    <a href="/reviews/list">Reviews</a>
	    

    </body>
</html>
