
{% extends "base.html" %}
		{% block title %} Service center {% endblock title %}

		{% block header %}
		    Service center
		{% endblock header %}

		{% block content %}

	    <h1>Recent news</h1>

	    <a href="{%url 'news_detail' news.id%}">{{news.head}}</a>

	    </hr>

	    <h1>Index</h1>



	    <a href="{% url 'login'%}">Log In</a>

	    <br>

	    <a href="{% url 'signup'%}">Sign Up</a>
	    <br>
	    <a href="{% url 'logout'%}">Log out</a>
	    <br>

	    <a href="/service/list-services/">Services</a>
	    | 
	    <a href="/news">News</a>
	    | 
	    <a href="/vacancies">Vacancies</a>
	    |
	    <a href="/faq">FAQ</a>
	    |
	    <a href="/reviews/list">Reviews</a>
	    |
	    <a href="/service/about">About</a>
	    |
	    <a href="/service/conf-policy">Confidentials policy</a>
	    |
	    <a href="/stats">Stats</a>
	    |
	    <a href="/service/promocodes">Promocodes</a>
			|
	    <a href="/MEDIA/docs/user-agreement.pdf">User agreement</a>
		
		{% endblock content %}
