
{% extends "base.html" %}
		{% block title %} Service center {% endblock title %}


		{% block styles %}
			<link rel="stylesheet" href="/static/index.css">
			<link rel="stylesheet" href="/static/anim.css">
			<link rel="stylesheet" href="/static/preloader.css">

		{% endblock styles %}

		{% block header %}
		    Smart-Service LTD
		{% endblock header %}

		{% block content %}

			<!-- <picture> -->
			<!-- 			<source srcset="/MEDIA/banner.png" -->
			<!-- 				 media="(width > 900px)"> -->
			<!-- 			<img src="/MEDIA/banner-nr.png" style="max-width:80%;" alt="Баннер"> -->
			<!-- </picture> -->

	    <h2>Welcome!</h2>

			<div class="anim-container">


					<p class="anim-name">Smart-Service LTD</p>


				<div class="smartphone-container">
					<img class="smartphone" src="/static/smartphone_a.png" alt="">
					<img class="smartphone-glass" src="/static/broken_glass.webp" alt="">
				</div>

				<div class="laptop-container">
					<img class="laptop" src="/static/laptop_a.png" alt="">
					<img class="laptop-glass" src="/static/broken_glass.webp" alt="">
					<img class="wand" src="/static/wand.webp" alt="">
				</div>






			</div>


	    <h2>Authorization</h2>



			<div class="auth-grid">
				<a  href="{% url 'login'%}">Log In</a>
				<a  href="{% url 'signup'%}">Sign Up</a>
				<a  href="{% url 'logout'%}">Log out</a>
			</div>

	    <h2>Navigation</h2>

			<div class="index-grid">

				<a href="/service/list-services/">Services</a>
				<a href="/news">News</a>
				<a href="/vacancies">Vacancies</a>
				<a href="/faq">FAQ</a>
				<a href="/reviews/list">Reviews</a>
				<a href="/service/about">About</a>
				<a target="_blank" href="/service/conf-policy">Conf. policy</a>
				<a target="_blank" href="/stats">Stats</a>
				<a href="/service/promocodes">Promocodes</a>
				<a href="/service/contacts">Contacts</a>
				<a href="/MEDIA/docs/user-agreement.pdf" download>User agreement</a>
				<a href="forms/">Forms demo</a>

			</div>



			<div class="banner border">
				<img class="banner-img" src="/MEDIA/banner.png"  alt="Баннер">
			</div>

	    <h2>Recent news</h2>

		<div class="news border">
			<div class="news-head">
				<a href="{%url 'news_detail' news.id%}">{{news.head}}</a>
			</div>
			<div class="news-content">
				<p >{{news.content|truncatechars:300}} </p>
			</div>
		</div>



			<h2>Out partners</h2>
<a href="https://www.google.com" target="_blank" class="partner-link social-icon">
  <i class="border fab fa-google partner"></i>
</a>
<a href="https://www.amazon.com" target="_blank" class="partner-link social-icon">
  <i class="border fab fa-amazon partner"></i>
</a>
<a href="https://www.apple.com" target="_blank" class="partner-link social-icon">
  <i class="border fab fa-apple partner"></i>
</a>


<h2>JS Test</h2>

<div class="index-grid">
    <a href="/jstest/int">Interactive input</a>
    <a href="/jstest/chart">Chart</a>
    <a href="/service/contacts_table">Contacts (table)</a>
</div>

<h2>Preloader</h2>

<div class="preloader-container">

<div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>
<div class="circle0"></div>

</div>




		{% endblock content %}
