.about p, .about li { 
	text-align: left;
	text-indent: 20px;
	line-height: 105%;
	margin : 6px;
	padding : 10px;

	hyphens: auto;
	word-break: normal;
		
}

.about h2 { 
	text-transform: uppercase;
}

.about p::selection { 
		text-shadow: 3px 3px 2px black;

}

.about p::first-letter { 
	font-size:30px;
	color : red;
}

.about ul { 
  padding-left: 0;   
  list-style-type: none;  
}
.about ul li::before {
	content: "\22c7 ";
}

.caps { 
	font-variant: small-caps;
}

.ligatures { 
	font-family: Flagfies;
	font-variant-ligatures: historical-ligatures;
	text-transform: none;
}
