@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

body {
	min-width: 600px;
background: #ebebeb;
background: linear-gradient(90deg, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(181, 181, 181, 1) 100%);
}

a:focus { 
	color : lightgreen !important;
}

a:link { 
	color:white;
}
 
a:active, button:active { 
	transform :	scaleX(0.95) !important;
	transition : transform 0.1s ease-in;
}

a[download]::before {
	content : "⬇"
}


* {
	font-family : "Space Mono", monospace;
	font-weight : 100;
	text-align : center;
}

.border , h1, h2, button{
	border : 3px solid #000000;
	border-radius: 2px;
}


.top-nav {	
  position: fixed;
	top : 0px;
	left : 10px;
	border : 3px solid #000000;
	border-radius: 2px;
	text-align : center;
	background-color: white;
	width: calc(100vw - 30px);
	z-index: 1;

}

.enlarge-on-hover:hover {
  transform: scale(1.15);
}

.nav-btn {
	font-family : "Space Mono", monospace;
	font-weight : 800;
	font-size : 14pt;
	margin : 10px;
	text-decoration: underline; 
	color : black;
	display: inline-block;
}
 .nav-btn:hover {
  transform: scale(1.15);
 }

.nav-btn.about { 
	cursor : help;
 }


 .index-grid a[target="_blank"] { 
	 
	 border-color: yellow;
 }

h1 {
	font-weight : 900;
	padding : 2px;
	text-transform : uppercase;
	font-weight : 900;
	margin : 6px;
	margin-top: 60px;
	background-color: white;
}

h2 {
	font-weight : 000;
	padding : 2px;
	margin : 6px 6px 0px 6px;
	font-weight : 900;
}

.top-icon {
	width : 80px;
	height : 80px;
	position : absolute;
	top : 15px;
	left : 30px;
	z-index: 2;
	background-color: white;
}

@media screen and (max-width : 600px) {

	.top-icon { 
		visibility: hidden;
	}
	
}

footer {
	border : 1px solid #000000;
	border-radius: 2px;
	font-size : 9px;
}

.my-btn {
	display : flex;
	justify-content: center;
	align-items: center;

	border : 2px solid #000000;
	border-radius : 2px;
	padding : 5px;
	margin : 5px;
	width : 150px;

	color : white;
	background-color : black;
	text-decoration: none;
}

input { 
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}

input label { 
	text-align: left;
}


q:lang(ru){ 

	font-family: "Noto Sans Mono";
	font-weight: 500;
	quotes: "«" "»"; 
}
q:lang(en){ 
	quotes: "\201C" "\201D"; 
}




