
/******** TABLE **********/

table {
    border-collapse: collapse;
    margin-left : auto;
    margin-right : auto;
    margin-top: 10pt;
    margin-bottom: 10pt;
    width : 95%;
}

table td {
   border: solid 3px black;
   padding: 4pt;
}

table img {
    width : 150pt;
    height : 150pt;
}

thead td {
    cursor: pointer;
}

#sort-icon {
    padding-left : 5pt;
}


/******** FILTER **********/

.filter-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.filter-input-container p {
    text-align: right;
}

#filter-input {
    border : solid 3px black;
}

#filter-btn-active {
    border : green solid 5px;
}

#find-btn {
    margin-left: 5pt;
    margin-right: 5pt;
}

/******** PAGER **********/

.pager {
   left : auto;
   right : auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
}

.pager-btn{
    width: 4ex;
    height : 4ex;
    text-align: center;
    margin:3px;

    border-width: 2px;
    border-radius: 8px;
}

.pager-btn-current {
    width: 6ex;
    height: 6ex;
}

/******** EMPLOYEE CARD **********/

.employee-card b {
	font-weight: bold;
}

.employee-card img {
	padding: 5px;
	width: 300px;
	height: 300px;
}

.employee-card h2 {
	align-self: stretch;
}

.employee-card {

	border : 3px solid black;
	border-radius: 4px;

	display: flex;
	flex-direction: column;

	width : 50%;
	margin-left: auto;
	margin-right: auto;

	margin-top: 10pt;
	margin-bottom: 10pt;

	align-items: center;

}

/******** DIALOG **********/


dialog {
    max-width: 600px;
}

#new-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 15px;
    width : 85%;
    font-size: 20pt;
    padding : 5pt;
}

dialog input  {
    width : 60%;
}

input[type="submit"]{
    opacity: 0%;
    width: 95%;
    text-align: center;
    font-size: 16pt;
    transition: opacity 0.2s ease-in;
}

input[type="submit"].shown{
    opacity: 100%;
    transition: opacity 0.3s ease-in;
}

input[data-invalid="true"]{
    background-color: pink !important;
    border: 2px red solid;
}

#error-messages p{
    text-align: left;
}

dialog textarea {
    height : 8em;
    width : 60%;
    resize: none;
}
