.banner {
	display : flex;
	justify-content: center;
	align-items: center;
	min-width: 600px;
	margin : 6px;
}

.banner-img {
	margin : auto;
	width : 600px;
}



.news { 
	position: flex;
	align-items: center;
	justify-self: center;
	justify-content: center;
	color : var(--fg-color);
	text-decoration: none;
	width : 400px;
	margin : 6px;
}

.news-head { 
	background-color: var(--fg-color);
	color : var(--bg-color);
	padding : 5px;
}

.news-head a { 
	text-decoration: none;
	color : var(--bg-color);
}

.news-content p { 
	font-size: 10px;
}

.partner { 
	color : var(--fg-color);
	text-decoration: none;
	font-size : 70px;


	border-radius: 1000px;
	padding : 5px;
	margin : 10px;
	width : 72px;
	height : 72px;

	box-shadow : 9px 5px 5px black;

}


a[href^="http"]::before { 
	content : "!";
	color : var(--fg-color);
}

.partner-link { 
	text-decoration: none;
}
