.slider{
    height : 300pt;
    margin : 4pt;
    overflow: hidden;
    position: relative;
}

.slider-counter {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 101;
}

.slider-img {
    display: none;
    position: absolute;
    width: 50%;
    height : 300pt;
    opacity: 60%;
}

.slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-prev-f,.slider-next-f,.slider-cur-f,.slider-2next-f,.slider-2prev-f,
.slider-prev-r,.slider-next-r,.slider-cur-r,.slider-2next-r,.slider-2prev-r{
    display: inline-block;
}

.slider-cur {
    opacity: 100%;
}


.slider-2prev-f {
    left : -75%;
}
.slider-prev-f {
    animation : a2prev-to-prev 0.5s ease 1 forwards;
}
.slider-cur-f {
    animation : prev-to-cur 0.5s ease 1 forwards;
}
.slider-next-f {
    animation : cur-to-next 0.5s ease 1 forwards;
}
.slider-2next-f {
    animation : next-to-2next 0.5s ease 1 forwards;
}

.slider-2prev-r {
    animation : prev-to-2prev 0.5s ease 1 forwards;
}
.slider-prev-r {
    animation : cur-to-prev 0.5s ease 1 forwards;
}
.slider-cur-r {
    animation : next-to-cur 0.5s ease 1 forwards;
}
.slider-next-r {
    animation : a2next-to-next 0.5s ease 1 forwards;
}
.slider-2next-r {
    left : 125%;
}

@keyframes a2prev-to-prev {
    0%{
        left : -75%;
    }
    100%{ 
        left : -25%;
    }
}
@keyframes prev-to-2prev {
    0%{ 
        left : -25%;
    }
    100%{
        left : -75%;
    }
}


@keyframes prev-to-cur {
    0%{
        left : -25%;
        opacity: 60%;
    }
    100%{
        left : 25%;
        opacity: 100%;
    }
}
@keyframes cur-to-prev {
    0%{
        left : 25%;
        opacity: 100%;
    }
    100%{
        left : -25%;
        opacity: 60%;
    }
}

@keyframes cur-to-next {
    0%{
        left : 25%;
        opacity: 100%;
    }
    100%{
        left : 75%;
        opacity: 60%;
    }
}
@keyframes next-to-cur {
    0%{
        left : 75%;
        opacity: 60%;
    }
   100%{
        left : 25%;
        opacity: 100%;
    }
}

@keyframes next-to-2next {
    0%{
        left : 75%;
    }  
    100%{
        left : 125%;
    }
}
@keyframes a2next-to-next {
    0%{
        left : 125%;
    }
    100%{
        left : 75%;
    }  
}


#slider-prev-btn,
#slider-next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
    user-select: none;
}

#slider-prev-btn {
    left: 10px;
}

#slider-next-btn {
    right: 10px;
}

#slider-prev-btn:hover,
#slider-next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
}

.slider-pag-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider-pag-dot-active, .slider-pag-dot:hover {
    background-color: black;
}

.slider-caption {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}





