.theme-changer{
	position: fixed;
	bottom: 0;
	left : 0;
	width: 70px;

	font-size: 15pt;
	opacity: 0%;
	transition: opacity 0.1s ease-out;
}

.theme-changer:hover{ 
	transition: opacity 0.1s ease-out;
	opacity: 100%;
}

.theme-light{
	color:black;
	background-color: white;
	margin: 0pt;
	cursor: pointer;
}

.theme-dark{
	color:white;
	background-color: black;
	margin: 0pt;
	cursor: pointer;
}

/* colors themselves */

/* :root{  */
/* 	--fg-color : black; */
/* 	--bg-color : white; */
/* 	--bg-gradient : linear-gradient(90deg, rgba(235, 235, 235, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(181, 181, 181, 1) 100%); */
/* 	--invert : invert(0); */
/* 	--mark-bg-color : rgba(200,200,0,1); */
/* } */



:root{ 
	--fg-color : white;
	--bg-color : black;
	--bg-gradient : linear-gradient(90deg, rgba(10, 10, 10, 1) 0%, rgba(15, 15, 15, 1) 50%, rgba(0,0,0,1) 100%);
	--invert : invert(1);
	--mark-bg-color : rgba(80,80,0,1);
}

