{% extends "./base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/vacancies.css">
{% endblock styles %}

{% block content %}


    <!-- Iterate over object_list -->
    {% for object in object_list %} 



		<div class="vacancy-container">
			<div class="vacancy-name">
				{{object.position}}
			</div>

			<div class="vacancy-description">
				{{object.description}}
			</div>
		</div>

    {% empty %} 

    Company is not hiring right now

    {% endfor %} 


{% endblock content %}
