
{% extends "../base.html" %}

{% block title %}
Statistics
{% endblock title %}


{% block header %}
STATISTICS
{% endblock header %}
	    

{% block content %}
	    <p> <strong>Client median age:</strong>  {{age_median}} </p>
	    <p> <strong>Client average age:</strong>  {{age_avg}} </p>


	    <h3>Top 10 services (by number of ORDERS they appear)</h3>
	    <img src="{%url 'most_popular_service' %}" alt="most profitable services "> 

	    <h3>Top 10 services (by profit)</h3>
	    <img src="{%url 'most_profitable_service' %}" alt="most profitable services "> 



			<figure>
				<figcaption><h2>How we build our stats</h2></figcaption>

			<code>

def most_popular_service_stat(req):
    srv = dict()
    for service in Service.objects.all():
        srv[service.name] = OrderService.objects.filter(service=service).count()

    sorted_srv = sorted(srv.items(), key=lambda x : x[1], reverse=False)[:10]
    names = [item[0] for item in sorted_srv]
    values = [item[1] for item in sorted_srv]
    return http_barh_plot(req,names, values)

def most_profitable_service_stat(req):
    srv = dict()
    for service in Service.objects.all():
        sum = OrderService.objects.filter(service=service).aggregate(total=Sum('number'))['total']
        if sum is None:
            sum = 0
        srv[service.name] = sum * service.price
    sorted_srv = sorted(srv.items(), key=lambda x : x[1], reverse=False)[:10]
    names = [item[0] for item in sorted_srv]
    values = [item[1] for item in sorted_srv]
    return http_barh_plot(req,names, values)

			</code>

				
			</figure>
{% endblock content %}
	    
